.first_section {
  height: calc(100vh);
  background-image: url(../../assets/home1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.first_section h1 {
  margin-bottom: 30px;
}

.first_section div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.first_section button:first-of-type {
  background-color: var(--one);
  border: 1px solid var(--one);
}

.first_section button:last-of-type {
  background-color: transparent;
  color: var(--white);
}

.first_section button:first-of-type:hover {
  border-color: var(--white);
  color: var(--white);
}

.first_section button:first-of-type::before {
  background-color: var(--three);
}

.first_section button:last-of-type::before {
  background-color: var(--one);
}
.first_section button:last-of-type:hover {
  color: var(--three);
  border-color: var(--three);
}

@media (max-width: 900px) {
  .first_section {
    height: calc(100vh - 70px);
  }
  .first_section h1 {
    font-size: 40px;
  }
}

/* second  Section*/

.second {
  background-color: rgb(0, 0, 0);
  color: var(--white);
  text-transform: uppercase;
  text-align: right;
  overflow: hidden;
  padding: 10px 0;
}

.second h2 {
  white-space: nowrap;
  word-spacing: 50px;
  animation: marque 15s linear infinite;
  -webkit-animation: marque 15s linear infinite;
}

.second span {
  color: rgb(184, 35, 72);
}

@keyframes marque {
  0% {
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
}

/* Section third  */

.third {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: var(--three);
}

.third .text {
  width: 50%;
}

.third .text > h2 {
  font-size: 30px;
}

.third .text > p:last-of-type {
  margin: 20px 0;
  width: 70%;
  color: var(--four);
}

.third .text .text_one,
.third .text .text_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  background-color: var(--six);
}

.third .text .text_one {
  margin-bottom: 20px;
}
.third .text .text_one img,
.third .text .text_two img {
  width: 50%;
}

.third .text .text_one p,
.third .text .text_two p {
  width: 80%;
  margin-top: 10px;
  color: var(--four);
  
}

.third .text .text_one img,
.third .text .text_two img {
  border-radius: 5%;
  
}

.third_image_container {
  position: relative;
  text-align: right;
  
}

.third_image_container img {
  width: 80%;
  
}

.third_image_container button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  
}

.third_image_container button:hover {
  color: var(--white);
}

.third_image_container button::before {
  background-color: var(--three);
}

@media (max-width: 1000px) {
  .third {
    flex-direction: column;
  }
  .third .text {
    width: 100%;
  }
  .third_image_container {
    text-align: center;
  }

  .third .text .text_one p,
  .third .text .text_two p {
    width: 100%;
  }
}

/* Section Five  */

.fourth {
  padding: 20px 0;
  margin-bottom: 8rem;
  border-top: 1px solid var(--seven);
  border-bottom: 1px solid var(--seven);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.fourth_box {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--six);
  padding: 10px;
}

.fourth_box_title {
  display: flex;
  align-items: center;
  gap: 20px;
  background-image: url(../../assets/Icon2.jpg);
  padding: 10px;
}

.fourth_box h4 {
  padding: 5px;
  background-color: var(--three);
  background-image: url(../../assets/Icon2.jpg);
  color: var(--white);
}

.fourth_box:last-of-type > i {
  background-color: var(--three);
  padding: 8px;
  color: var(--white);
}

.fourth_box:last-of-type > div i {
  color: var(--yellow);
}

.fourth_box_title h4 {
  padding: 5px;
  background-color: var(--three);
  color: var(--white);
}

.fourth_box_title:last-of-type > i {
  background-color: var(--three);
  padding: 8px;
  color: var(--white);
}

.fourth_box_title:last-of-type > div i {
  color: var(--yellow);
}

.swipe_content {
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
  background-color: rgb(184, 35, 72);
  padding: 20px;
}

.five_image_holder {
  position: relative;
}

.swipe_content .trainer {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.five_image_holder img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
}

.swipe_content .six_text {
  padding: 0 10px;
  border-left: 1px solid var(--four);
}

.five_text p:first-of-type {
  margin: 10px 0;
  color: white;
}

.starts i {
  color: var(--yellow);
}

.five_text p:last-of-type {
  margin-top: 10px;
  color: white;
}

.swipe_content_title {
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
  background-image: url(../../assets/Icon2.jpg);
  /*background-color: rgb(109, 119, 119);*/
  border-radius: 1%;
  padding: 20px;
}

.six {
  text-align: center;
  color: var(--three);
  
}
.six > div:first-of-type {
  
  margin-bottom: 40px;
}

.plans {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
  
}

.plans .plan {
  
  padding: 20px;
  background-color: var(--six);
}

.plan > div {
  
  margin: 20px 0;
  padding: 30px 0;
  border-top: 1px solid var(--seven);
  border-bottom: 1px solid var(--seven);
}

.plan h3 i {
  margin-right: 10px;
}

.plan > div p {
  padding: 8px;
  width: fit-content;
  margin: 10px auto 0;
  font-size: 15px;
}

.plan:nth-child(2) > div p {
  background-color: var(--one);
  
}

.plan ul li {
  margin-bottom: 25px;
}

.plan ul li:first-of-type {
  color: var(--two);
  font-weight: 500;
}


.plan:first-of-type h3 i {
  color: #ed2e2e;
}

.plan:nth-child(2) h3 i {
  color: var(--two);
}
.plan:last-of-type h3 i {
  color: #ffe182;
}

@media (max-width: 360px) {
  .plans {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 1em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
}

button:hover, button:focus {
  color: white;
}

button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}